:root{
    --spin-duration: 1s;
}

#spinner, #spinner2{
    width: 150px;
    margin: 15px;
    height: 100vh;
    flex-grow: 1;
}
#spinner:hover{
    animation: spin var(--spin-duration) infinite linear;
}

#spinner2{
    animation: spin var(--spin-duration) infinite linear;
}


@keyframes spin{
    from { transform:rotate(0deg);}
    to { transform: rotate(360deg);}
}