:root{
    --border-color: gray;
    --border-width: 1px;
}

body{
    margin: 0px;
}



footer{
    border-top: solid var(--border-width) var(--border-color);
    min-height: fit-content;
    text-align: center;
}
#container{
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


nav{
    display: flex;
    max-width: 20%;
    min-width: 20%;
    border-right: solid var(--border-width) var(--border-color);
    flex-direction: column;
    text-align: center;
}

nav > a{
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

nav > a:hover{
    background-color: lightblue;
    border-radius: 0px;
}

header{
    border-bottom: 2px solid var(--border-color);
    min-height: fit-content;
    text-align: center;
}


#container > section{
    flex-grow: 1;
    /* max-width: 1fr; */
}