body{
    margin: 0px;
}

footer{
    border-top: 1px solid black;
    min-height: fit-content;
    text-align: center;
}
#container{
    background-color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


nav{
    display: flex;
    max-width: 20%;
    min-width: 20%;
    border-right: 1px solid black;
    flex-direction: column;
    text-align: center;
}

nav > a{
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
}

nav > a:hover{
    background-color: aliceblue;
}

header{
    border-bottom: 1px solid black;
    min-height: fit-content;
    text-align: center;
}


#container > section{
    flex-grow: 1;
    max-width: 1fr;
}